* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  background-color: antiquewhite;
  width: 90vw;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.grid {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;

  display: grid;
  gap: 2px;
  // grid-template-columns: repeat(20, 20px);
  // grid-template-rows: repeat(20, 20px);
  // width: calc(20 * 20px);

  // overflow: hidden;

  transition: all 0.2s;
  position: relative;

  // SNAKE
  .head,
  .body,
  .food {
    display: inline-block;
    width: auto;
    border: 1px solid black;
    border-radius: 4px;
  }

  .head {
    background-color: green;
    z-index: 3;
  }
  .body {
    background-color: lightgreen;
    z-index: 2;
  }

  // FOOD
  .food {
    background-color: red;
    z-index: 1;
  }
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 150px;
  gap: 2px;

  .up {
    grid-column: 2;
  }
  .down {
    grid-column: 2;
    grid-row: 3;
  }
  .right {
    grid-column: 3;
    grid-row: 2;
  }
  .left {
    grid-column: 1;
    grid-row: 2;
  }
}
